@model WebApplication1.Models.SACH

@{
    ViewBag.Title = "Suasach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>điều chỉnh thông tin sách</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Masach)

        <div class="form-group">
            @Html.LabelFor(model => model.Tensach,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tensach)
                @Html.ValidationMessageFor(model => model.Tensach)
                @*<div style="font:18px; padding: 5px 0 0 5px"> @Model.Masach </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giaban, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban)
                @Html.ValidationMessageFor(model => model.Giaban)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<textarea name="Mota">@Model.Mota</textarea>*@
                @Html.EditorFor(model => model.Mota)
                @Html.ValidationMessageFor(model => model.Mota)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anhbia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                @*<img src="@Url.Content("~/Hinhsanpham/"+ Model.Anhbia)" width="120px" /> (ảnh hiển tại)*@
                @Html.EditorFor(model => model.Anhbia)
                @Html.ValidationMessageFor(model => model.Anhbia)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaycapnhat)
                @Html.ValidationMessageFor(model => model.Ngaycapnhat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton)
                @Html.ValidationMessageFor(model => model.Soluongton)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaCD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaCD")
                @*@Html.EditorFor(model => model.MaCD)
                @Html.ValidationMessageFor(model => model.MaCD)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNXB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNXB")
                @*@Html.EditorFor(model => model.MaNXB)
                @Html.ValidationMessageFor(model => model.MaNXB)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
